<p>show-foods works!</p>


<!-- <table  class="table">
    <thead>
      <tr>
     
        <th scope="col">FoodName</th>
        <th scope="col">Food Category</th>
        <th scope="col">Price</th>
        <th scope="col">Offer</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foodArray">
     
        <td>{{food.foodName}}</td>
        <td>{{food.foodCategory}}</td>
        <td>{{food.price}}</td>
        <td>{{food.offer}}</td>
        <td>{{food.quantity}}</td>
        <td><button class="nav-link" href="#"  (click)="onClickDelete">Delete</button></td>
        <a class="nav-link" href="#" routerLink="/editFood" >Edit Food </a>
    
      </tr>
    
    </tbody>
  </table> -->

  
