<p>restaurant-home-page works!</p>

<table  class="table">
    <thead>
      <tr>
     
        <th scope="col">FoodName</th>
        <th scope="col">Food Category</th>
        <th scope="col">Price</th>
        <th scope="col">Offer</th>
        <th scope="col">Quantity</th>
        <th scope="col">Restaurant Name</th>
        <th scope="col">Area</th>
        <th scope="col">Action</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foodArray">
     
        <td>{{food.foodName}}</td>
        <td>{{food.foodCategory}}</td>
        <td>{{food.price}}</td>
        <td>{{food.offer}}</td>
        <td>{{food.quantity}}</td>
        <td>{{food.restaurant.restaurantName}}</td>
        <td>{{food.restaurant.address.area}}</td>
        <td><h4 (click)="editPage(food.foodId)">Edit</h4></td>
        <td><h4 (click)="deleteFood(food.foodId)">Delete</h4></td>
      </tr>
    
    </tbody>
  </table>

  <h1><button class="nav-link" href="#" routerLink="addFood">Add New Food</button></h1>

  <h1><button class="nav-link" href="#" routerLink="AllOrdersByRestId">Check all Orders</button></h1>
