
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" id="name">
    <img
      src="https://cdn3.iconfinder.com/data/icons/diversity-avatars/64/chef-man-white-256.png"
      width="35" height="35" class="d-inline-block align-top" alt="Lab Logo">&nbsp;&nbsp;&nbsp;
  </a>
  
  
    <div class="d-flex align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">       
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="register" >Register Here</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="login" >User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="restLogin" >Restaurant Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="adminLogin" >Admin Login</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink="login" >User Login</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
    
      </ul>
    </div>
  </nav> -->





 <!-- <router-outlet></router-outlet> -->
 

 <!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodplaza</title>
    <link rel="stylesheet" href="Food.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Righteous&display=swap"
      rel="stylesheet"
    />
  </head> -->

  <body>
    <nav class="navbar">
      
      
      <h1 class="logo"><img
        src="https://cdn3.iconfinder.com/data/icons/diversity-avatars/64/chef-man-white-256.png"
        width="35" height="35" class="d-inline-block align-top" alt="Lab Logo">FOODPLAZA</h1>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <!-- <li><a href="#trending">Speciality</a></li>
        <li><a href="#explore">Popular</a></li>
        <li><a href="#treats">Gallary</a></li> -->
        <li><a href="#" routerLink="register" >Register Here</a></li>
        <li><a href="#" routerLink="/login" >User Login</a></li>
        <li><a href="#"routerLink="restLogin" >Restaurant Login</a></li>
        <li><a href="#" routerLink="adminLogin" >Admin Login</a></li>

      
      </ul>
      <!-- <img src="../../../assets/images/menu-btn.png" alt="" class="menu-btn" /> -->
    </nav>
    <div id="home">
    <header>
      <div class="header-content">
        <h2>Food should be fun</h2>
        <div class="line"></div>
        <a href="#" class="ctn">enjoy</a>
      </div>
    </header>
  </div>
  <div id="trending">
    <section class="events">
      <div class="title">
        <h1>Our Special Dishes</h1>
      </div>
      <div class="row">
        <div class="col">
         <a href="/login"> <img src="../../../assets/images/img1.jpg"  alt="" /></a>
          <h4>Veg Thali</h4>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
          </p>
          <a href="#" class="ctn">Order</a>
        </div>
        <div class="col">
          <a href="/login"> <img src="../../../assets/images/img2.jpg" alt="" /></a>
          <h4>Biryani</h4>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
          </p>
          <a href="#" class="ctn">Order</a>
        </div>
        <div class="col">
          <a href="/login"> <img src="../../../assets/images/img3.jpg" alt="" /></a>
          <h4>Paav Bhaji</h4>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
          </p>
          <a href="#" class="ctn">Order</a>
        </div>
        <div class="col">
          <a href="/login"> <img src="../../../assets/images/img4.jpg" alt="" /></a>
          <h4>South Uppam</h4>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
          </p>
          <a href="#" class="ctn">Order</a>
        </div>
      </div>
    </section>
  </div>
  <div id="explore">
    <section class="explore">
      <div class="explore-content">
        <h1>Good food is the foundation of genuine happiness.</h1>
        <div class="line"></div>

        <a href="#" class="ctn">Learn more</a>
      </div>
    </section>
  </div>
  <div id="treats">
    <section class="tours">
      <div class="row">
        <div class="col content-col">
          <h1>Most Popular Delicious Dishes</h1>
          <div class="line"></div>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          </p>
          <a href="#" class="ctn">Learn More</a>
        </div>
        <div class="col image-col">
          <div class="image-gallary">
            <img src="../../../assets/images/g2.jpg" alt="" />
            <img src="../../../assets/images/g1.jpg" alt="" />
            <img src="../../../assets/images/g3.jpg" alt="" />
            <img src="../../../assets/images/g4.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <div id="order">
  <section class="order">
  <h1 class="heading"> Order Now</h1>
  <div class="line"></div>
  <div class="row">
    <div class="col image-col">
      <img src="./g1.jpg" alt="" />
    </div>
    <div class="col content-col">
     <input type="text" placeholder="Name">
     <input type="email" placeholder="Email">
     <input type="number" placeholder="Number">
     <input type="text" placeholder="Food Name">
     <textarea cols="30" rows="5" placeholder="Address"></textarea>
     <input type="button" value="Place Order" class="btn">
    </div>
  
  </div>

  </section>
</div> -->
    
    <section class="footer">
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
      </p>
      <p>copyright@Group4.com</p>
    </section>
 
    <script>
      const menuBtn = document.querySelector(".menu-btn");
      const navlinks = document.querySelector(".nav-links");
      menuBtn.addEventListener("click", () => {
        navlinks.classList.toggle("mobile-menu");
      });
    </script>
  </body>

