<p>login works!</p>


<!-- <div class="container">
    
    <form [formGroup]='loginForm'  (ngSubmit)='onSubmit()'>
  
        <mat-form-field appearance="fill">
            <label>Email</label>
            <input matInput formControlName="userEmail" MatFormFieldControl="userEmail">
          </mat-form-field>
          <br>
    
      <mat-form-field appearance="fill">
        <label>Password</label>
        <input matInput formControlName="userPassword" MatFormFieldControl="userPassword">
      </mat-form-field>
      <br>
   
    
      <button>Submit</button>
    </form>
  
</div> -->
<form [formGroup]='loginForm'  (ngSubmit)='onSubmit()'>
    <label for="userEmail">Email: </label>
    <input type="text"  formControlName="userEmail">

    <label for="userPassword">Password: </label>
    <input type="text"  formControlName="userPassword">

    <button>Submit</button>
</form>
