<p>cart works!</p>

<table  class="table">
    <thead>
      <tr>
     
        <th scope="col">FoodName</th>
        <th scope="col">Food Category</th>
        <th scope="col">Price</th>
        <th scope="col">Offer</th>
        <th scope="col">Quantity</th>
        <th scope="col">Restaurant Name</th>
        <th scope="col">Area</th>
        <th scope="col">Restaurant Id</th>

        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of cartArray">
     
        <td>{{food.foodName}}</td>
        <td>{{food.foodCategory}}</td>
        <td>{{food.price}}</td>
        <td>{{food.offer}}</td>
        <td>{{food.quantity}}</td>
        <td>{{food.restaurant.restaurantName}}</td>
        <td>{{food.restaurant.address.area}}</td>
        <td>{{food.restaurant.restId}}</td>

      </tr>
    
    </tbody>
  </table>

 
  <h3>Total Bill = 1200</h3>

  
  <h2><button class="nav-link" (click) = "placeOrderFunc()"  >Place Order2</button></h2>

  <router-outlet></router-outlet>
 