<body>
  
      
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" id="name">
    <img
      src="https://cdn3.iconfinder.com/data/icons/diversity-avatars/64/chef-man-white-256.png"
      width="35" height="35" class="d-inline-block align-top" alt="Lab Logo">&nbsp;&nbsp;&nbsp;
      <!-- <h1>Navbar</h1> -->
  </a>
  <a class="navbar-brand" href="#">User</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-flex align-items-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">     

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="cartPage">View Cart</a>
      </li>&nbsp;&nbsp;&nbsp;

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="favList">View Favorites</a>
      </li>        &nbsp;&nbsp;&nbsp;


      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/userHome">Back</a>
      </li>  

      <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/userHome">Logout</a>
        </li>  
    
    </ul>
   </div>
</nav>


<p></p>
<p></p> 

  <!-- <input type="text" [(ngModel)]='searchBy'>
    we are searching by {{searchBy}}  -->
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search by FoodItem" aria-label="Search" aria-describedby="search-addon" [(ngModel)]='searchBy'  />
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    <p></p>
    <p></p> 


<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">FoodName</th>
      <th scope="col">Food Category</th>
      <th scope="col">Price</th>
      <th scope="col">Offer</th>
      <th scope="col">Quantity</th>
      <th scope="col">Restaurant Name</th>
      <th scope="col">Area</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of foodArray | searchFood : searchBy">
     
      <td>{{food.foodName}}</td>
      <td>{{food.foodCategory}}</td>
      <td>{{food.price}}</td>
      <td>{{food.offer}}</td>
      <td>{{food.quantity}}</td>
      <td>{{food.restaurant.restaurantName}}</td>
      <td>{{food.restaurant.address.area}}</td>
     <td> <button type="button" class="btn btn-primary" (click)="addToCart(food)">Order</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="addToFavourites(food)">Add Favourites</button></td>
    
    </tr>
  </tbody>
</table>


</body>
