<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" id="name">
          <img
            src="https://cdn3.iconfinder.com/data/icons/diversity-avatars/64/chef-man-white-256.png"
            width="35" height="35" class="d-inline-block align-top" alt="Lab Logo">&nbsp;&nbsp;&nbsp;
      
        </a>
        <a class="navbar-brand" href="#">User Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="d-flex align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">    
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/userHome">Back</a>
            </li>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/userHome">Logout</a>
              </li>  
          
          </ul>
         </div>
      </nav>
      

<p>update-password works!</p>

<div class="mainDiv">
    <form [formGroup]='updatePassword' (ngSubmit)='onSubmit()' style="border:1px solid #ccc">
        <div class="container">
            <h1 style="text-align: center;"><strong>Update User Password</strong></h1>
            <hr>
            <!-- <label><strong>Enter Current Password</strong></label>
            <input type="text" placeholder="Enter Name" formControlName="userName" required>     
            
            <hr>
            <label><strong>Enter New Password</strong></label>
            <input type="text" placeholder="Enter Name" formControlName="userPassword" required> -->

            <hr>
            <label><strong>Confirm New Password</strong></label>
            <input type="text" placeholder="Enter Name" formControlName="userPassword" required>
            <span class="help-bpx" *ngIf="userPassword?.touched && !userPassword?.valid">Please Enter valid Password </span><p></p>

          
        </div>

        <div class="clearfix">
            <button type="submit" class="signupbtn" [disabled]="!updatePassword.valid">Update Password</button>
        </div>

    </form>


</div>

</body>